<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            background-image: linear-gradient(to bottom right, #5f55bb, #473e68);
        }
        h1 {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px auto;
            max-width: 800px;
        }
        li {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
        }
        h2 {
            margin-top: 0;
            color: #333;
        }
        p {
            margin: 10px 0;
            color: #666;
        }
        a {
            text-decoration: none;
            color: #007bff;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>News</h1>
    <ul>
        <% articles.forEach(article => { %>
            <li>
                <h2><%= article.title %></h2>
                <p><%= article.description %></p>
                <p>Published At: <%= article.publishedAt %></p>
                <a href="<%= article.url %>" target="_blank">Read More</a>
            </li>
        <% }); %>
    </ul>
</body>
</html>